.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.form input{
    background-color: rgb(247, 247, 247);
    padding: 12px 21px;
    border-radius: 5px;
    
}

.form input:focus{
    outline: none;
}

.form button[type="submit"]{
    background-color: #FF472F;
    width: fit-content;
    padding: 10px 16px;
    color: white;
    font-weight: 500;
    border-radius: 40px;
}

.form > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.error{
    font-size: 14px;
    color: rgb(204, 0, 0);
    font-weight: 800;
    padding-left: 20px;
}

.form > div > a{
    color: rgb(0, 36, 66)
}

.form > div > a > span{
    font-weight: 700;
}