.shape-shift{
    background-color: rgb(255, 84, 16);
    z-index: 100;
    animation: border-shift 2s ease-in-out infinite alternate;
}

@keyframes border-shift {
    0% {border-radius: 0 0 0 0;}
    20% {border-radius: 50% 0% 0% 0%}
    35% {border-radius: 50% 50% 0% 0%}
    62% {border-radius: 50% 50% 50% 0%}
    88% {border-radius: 50% 50% 50% 50%}
    100% {border-radius: 100% 100% 100% 100%;}
}