
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playwrite+BE+WAL:wght@100..400&family=Playwrite+CL:wght@100..400&family=Playwrite+NL:wght@100..400&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: 'Inter';
}

body{
    overflow: hidden;
}

input[type="color"]{
    display: none;
}

.fill-color-in{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
}

.stroke-color-in{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(29, 29, 29);
}

label{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}