@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #ff472f;
    --minor-color: "#FB1D00";
    --bg-color: "#FFE6DB";
    --accent-color: "#2E82FF";
}

#root{
    height: 100%;
}

@layer utilities{
    .font-hand{
        font-family: "Outfit", sans-serif;
    }

    .solid-shadow-blue{
        box-shadow: 7px 7px 0px #63a1ff;
    }

    .solid-shadow-gray{
        filter: drop-shadow(7px 7px 0px #3838382a);
    }

    .container-padding{
        padding: 2rem 2.5rem;
    }
}